.WholeWeather{
    display: inline-block;
    margin-left: 33rem;
    margin-top: 1rem;
}
#heading{
    font-size: 3rem;
    font-weight: bolder;
    font-style: oblique;
    text-align: center;
}
input{
    height: 3rem;
    width: 15rem;
    border: 3px solid black;
    border-radius: 1rem;
    border-color: blueviolet;
    font-size: 2rem;
    font-weight: bold;
}
#subdiv
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
}
.property
{
    height: 5rem;
    width: 9rem;
    border: 1px solid black;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    box-shadow: 0px 0px 1rem;
    border-radius: 1rem;
}
button{
    height: 3rem;
    width: 6rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}
p{
    height: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}
label{
    display: block;
    height: 2rem;
    font-size: 1.8rem;
}
